@(servers: List[String], clients: List[String])

@main("real time chart") {
<h2 class="text-center">Servers:</h2>
<div style="text-align: center;">
    <div class="btn-group">
    @for(server <- servers) {
        <a href="/server/@server/charts/index" class="btn btn-info">@server</a>
    }
    </div>
</div>
<h2 class="text-center">Clients:</h2>
<div style="text-align: center;">
    <div class="btn-group">
    @for(client <- clients) {
        <a href="/client/@client/charts/index" class="btn btn-info">@client</a>
    }
    </div>
</div>
}
